In [31]:
import numpy as np
import urllib.request
import zipfile
import pandas as pd

In [32]:
urllib.request.urlretrieve("https://data.cityofnewyork.us/api/views/h9gi-nx95/rows.csv?accessType=DOWNLOAD","accidents.csv")

('accidents.csv', <http.client.HTTPMessage at 0x7fabba298ba8>)

In [33]:
accidents = pd.read_csv("accidents.csv")

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
accidents.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,11/06/2018,0:00,BROOKLYN,11228,40.617040,-74.003660,"(40.61704, -74.00366)",76 STREET,15 AVENUE,NaN,...,NaN,NaN,NaN,NaN,4015462,Sedan,NaN,NaN,NaN,NaN
1,11/06/2018,0:00,BROOKLYN,11236,40.645027,-73.919980,"(40.645027, -73.91998)",RALPH AVENUE,CLARENDON ROAD,NaN,...,Unspecified,NaN,NaN,NaN,4015612,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
2,11/06/2018,0:00,MANHATTAN,10039,40.826412,-73.940600,"(40.826412, -73.9406)",BRADHURST AVENUE,WEST 150 STREET,NaN,...,NaN,NaN,NaN,NaN,4015740,Sedan,NaN,NaN,NaN,NaN
3,11/06/2018,0:00,QUEENS,11357,40.788914,-73.800415,"(40.788914, -73.800415)",162 STREET,14 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4016424,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
4,11/06/2018,0:00,QUEENS,11372,40.749160,-73.889910,"(40.74916, -73.88991)",37 AVENUE,76 STREET,NaN,...,Passing Too Closely,NaN,NaN,NaN,4015525,Tractor Truck Diesel,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [35]:
accidents['DATE'] = pd.to_datetime(accidents['DATE'])

In [36]:
accidents.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2018-11-06,0:00,BROOKLYN,11228,40.617040,-74.003660,"(40.61704, -74.00366)",76 STREET,15 AVENUE,NaN,...,NaN,NaN,NaN,NaN,4015462,Sedan,NaN,NaN,NaN,NaN
1,2018-11-06,0:00,BROOKLYN,11236,40.645027,-73.919980,"(40.645027, -73.91998)",RALPH AVENUE,CLARENDON ROAD,NaN,...,Unspecified,NaN,NaN,NaN,4015612,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
2,2018-11-06,0:00,MANHATTAN,10039,40.826412,-73.940600,"(40.826412, -73.9406)",BRADHURST AVENUE,WEST 150 STREET,NaN,...,NaN,NaN,NaN,NaN,4015740,Sedan,NaN,NaN,NaN,NaN
3,2018-11-06,0:00,QUEENS,11357,40.788914,-73.800415,"(40.788914, -73.800415)",162 STREET,14 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4016424,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
4,2018-11-06,0:00,QUEENS,11372,40.749160,-73.889910,"(40.74916, -73.88991)",37 AVENUE,76 STREET,NaN,...,Passing Too Closely,NaN,NaN,NaN,4015525,Tractor Truck Diesel,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [37]:
accidents = accidents[(accidents['DATE']>="2016-07-01") & (accidents['DATE']<"2018-09-01")]

In [38]:
accidents.sort_values(by='DATE',ascending=False)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
43861,2018-08-31,23:00,BROOKLYN,11218,40.647694,-73.980370,"(40.647694, -73.98037)",FORT HAMILTON PARKWAY,MC DONALD AVENUE,NaN,...,NaN,NaN,NaN,NaN,3971663,Bike,NaN,NaN,NaN,NaN
43789,2018-08-31,20:08,NaN,NaN,40.604153,-74.051980,"(40.604153, -74.05198)",VERRAZANO BRIDGE UPPER,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,3973998,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN
43782,2018-08-31,20:00,MANHATTAN,10035,40.800480,-73.935165,"(40.80048, -73.935165)",NaN,NaN,2371 2 AVENUE,...,Unspecified,NaN,NaN,NaN,3973358,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
43783,2018-08-31,20:00,QUEENS,11357,40.782642,-73.804146,"(40.782642, -73.804146)",FRANCIS LEWIS BOULEVARD,17 ROAD,NaN,...,Unspecified,NaN,NaN,NaN,3972070,Sedan,Sedan,NaN,NaN,NaN
43784,2018-08-31,20:00,NaN,NaN,40.670860,-73.874240,"(40.67086, -73.87424)",BLAKE AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3973510,Sedan,NaN,NaN,NaN,NaN
43785,2018-08-31,20:00,BROOKLYN,11207,40.670326,-73.888780,"(40.670326, -73.88878)",HENDRIX STREET,SUTTER AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3973495,Bike,Sedan,NaN,NaN,NaN
43786,2018-08-31,20:03,STATEN ISLAND,10301,40.644450,-74.076830,"(40.64445, -74.07683)",RICHMOND TERRACE,WALL STREET,NaN,...,Unspecified,NaN,NaN,NaN,3971553,Sedan,Sedan,NaN,NaN,NaN
43787,2018-08-31,20:04,NaN,NaN,NaN,NaN,NaN,HUGHES AVENUE,FORDHAM UNIVERSITY,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,3972534,Pick-up Truck,Sedan,NaN,NaN,NaN
43788,2018-08-31,20:05,NaN,NaN,NaN,NaN,NaN,MORRIS PARK AVENUE,bronx park ave,NaN,...,Unspecified,NaN,NaN,NaN,3972569,Sedan,Sedan,NaN,NaN,NaN
43790,2018-08-31,20:10,NaN,NaN,40.758280,-73.957825,"(40.75828, -73.957825)",QUEENSBORO BRIDGE UPPER ROADWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3972744,Bus,Sedan,NaN,NaN,NaN
43780,2018-08-31,20:00,BROOKLYN,11208,40.670860,-73.874240,"(40.67086, -73.87424)",BLAKE AVENUE,FOUNTAIN AVENUE,NaN,...,NaN,NaN,NaN,NaN,3973448,Sedan,NaN,NaN,NaN,NaN
43791,2018-08-31,20:19,MANHATTAN,10001,40.754616,-73.997116,"(40.754616, -73.997116)",DYER AVENUE,WEST 35 STREET,NaN,...,Passing Too Closely,NaN,NaN,NaN,3973572,Box Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
43792,2018-08-31,20:20,QUEENS,11413,40.659420,-73.761116,"(40.65942, -73.761116)",147 AVENUE,SPRINGFIELD BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,3971565,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
43793,2018-08-31,20:20,BROOKLYN,11217,40.682970,-73.976670,"(40.68297, -73.97667)",FLATBUSH AVENUE,PACIFIC STREET,NaN,...,NaN,NaN,NaN,NaN,3972446,Sedan,NaN,NaN,NaN,NaN
43794,2018-08-31,20:25,BROOKLYN,11221,40.687435,-73.926980,"(40.687435, -73.92698)",PATCHEN AVENUE,MADISON STREET,NaN,...,Unspecified,NaN,NaN,NaN,3975230,Sedan,Sedan,NaN,NaN,NaN
43795,2018-08-31,20:25,NaN,NaN,NaN,NaN,NaN,mcguinness blvd,eagle street,NaN,...,Unspecified,NaN,NaN,NaN,3972264,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
43796,2018-08-31,20:25,QUEENS,11417,40.679720,-73.837814,"(40.67972, -73.837814)",102 STREET,ROCKAWAY BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,3972797,Sedan,Sedan,NaN,NaN,NaN
43797,2018-08-31,20:30,BROOKLYN,11206,40.695940,-73.952670,"(40.69594, -73.95267)",NaN,NaN,113 NOSTRAND AVENUE,...,NaN,NaN,NaN,NaN,3972667,Sedan,NaN,NaN,NaN,NaN
43781,2018-08-31,20:00,BROOKLYN,11237,40.694504,-73.908940,"(40.694504, -73.90894)",NaN,NaN,1342 HANCOCK STREET,...,Unspecified,NaN,NaN,NaN,3972721,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
43779,2018-08-31,1:50,NaN,NaN,40.845330,-73.923300,"(40.84533, -73.9233)",CROSS BRONX EXPY RAMP,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,3971499,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN
43838,2018-08-31,22:00,MANHATTAN,10019,40.760605,-73.983620,"(40.760605, -73.98362)",NaN,NaN,745 7 AVENUE,...,Driver Inattention/Distraction,NaN,NaN,NaN,3972184,Taxi,Sedan,NaN,NaN,NaN
43768,2018-08-31,1:00,QUEENS,11418,40.690357,-73.841090,"(40.690357, -73.84109)",104 STREET,ATLANTIC AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3977467,Box Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
43761,2018-08-31,19:40,BROOKLYN,11210,40.633670,-73.940956,"(40.63367, -73.940956)",NaN,NaN,941 EAST 37 STREET,...,Unspecified,Unspecified,Unspecified,NaN,3972211,Box Truck,Pick-up Truck,Sedan,Station Wagon/Sport Utility Vehicle,NaN
43762,2018-08-31,19:43,BRONX,10469,40.864002,-73.834045,"(40.864002, -73.834045)",NaN,NaN,1806 EAST GUN HILL ROAD,...,Unsafe Lane Changing,NaN,NaN,NaN,3972019,Sedan,Sedan,NaN,NaN,NaN
43763,2018-08-31,19:45,QUEENS,11423,40.717754,-73.758150,"(40.717754, -73.75815)",90 AVENUE,205 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,3971551,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
43764,2018-08-31,19:45,BROOKLYN,11216,40.671870,-73.954640,"(40.67187, -73.95464)",BEDFORD AVENUE,SAINT JOHNS PLACE,NaN,...,Unspecified,NaN,NaN,NaN,3974932,Bike,Sedan,NaN,NaN,NaN
43765,2018-08-31,19:45,NaN,NaN,40.771610,-73.990460,"(40.77161, -73.99046)",11 AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3972194,Sedan,Bike,NaN,NaN,NaN
43766,2018-08-31,19:50,BRONX,10452,40.831420,-73.926440,"(40.83142, -73.92644)",JEROME AVENUE,EAST 164 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3971834,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
43767,2018-08-31,1:00,BRONX,10467,40.868904,-73.863160,"(40.868904, -73.86316)",NaN,NaN,2964 WILLIAMSBRIDGE ROAD,...,Unspecified,Unspecified,NaN,NaN,3971375,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN,NaN
43770,2018-08-31,1:20,NaN,NaN,40.727432,-73.907130,"(40.727432, -73.90713)",LONG ISLAND EXPRESSWAY,MAURICE AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3975304,Sedan,BLOCK,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540964,2016-07-01,15:15,NaN,NaN,NaN,NaN,NaN,BUSHWICK AVENUE,,,...,Unspecified,NaN,NaN,NaN,3473913,PASSENGER VEHICLE,MOTORCYCLE,NaN,NaN,NaN
540965,2016-07-01,15:20,BROOKLYN,11210,40.630090,-73.934867,"(40.6300903, -73.9348672)",EAST 43 STREET,AVENUE I,,...,Unspecified,NaN,NaN,NaN,3474345,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540966,2016-07-01,15:20,NaN,NaN,NaN,NaN,NaN,62 DRIVE,,,...,Unspecified,NaN,NaN,NaN,3474074,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540967,2016-07-01,15:25,BRONX,10470,40.898273,-73.867321,"(40.8982732, -73.8673207)",EAST 236 STREET,KATONAH AVENUE,,...,Unspecified,NaN,NaN,NaN,3477560,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
540968,2016-07-01,15:26,QUEENS,11354,40.770009,-73.811256,"(40.7700086, -73.8112563)",32 AVENUE,153 STREET,,...,Unspecified,NaN,NaN,NaN,3472842,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540969,2016-07-01,15:30,BROOKLYN,11213,40.677954,-73.940463,"(40.6779541, -73.9404627)",,,1540 ATLANTIC AVENUE,...,Unspecified,NaN,NaN,NaN,3475087,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540950,2016-07-01,15:00,QUEENS,11101,40.748916,-73.937396,"(40.7489156, -73.9373965)",QUEENS BOULEVARD,JACKSON AVENUE,,...,Unspecified,NaN,NaN,NaN,3472823,BICYCLE,PASSENGER VEHICLE,NaN,NaN,NaN
540948,2016-07-01,15:00,NaN,NaN,NaN,NaN,NaN,FLATBUSH AVENUE,,,...,Unspecified,NaN,NaN,NaN,3473871,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540927,2016-07-01,14:30,BROOKLYN,11223,40.600321,-73.985941,"(40.6003214, -73.9859414)",STILLWELL AVENUE,AVENUE S,,...,Unspecified,Unspecified,NaN,NaN,3473742,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
540947,2016-07-01,15:00,NaN,NaN,NaN,NaN,NaN,EASTERN PARKWAY,,,...,Unspecified,NaN,NaN,NaN,3484698,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540928,2016-07-01,14:31,BROOKLYN,11212,40.654629,-73.922006,"(40.654629, -73.9220058)",REMSEN AVENUE,KINGS HIGHWAY,,...,Unspecified,NaN,NaN,NaN,3476277,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540929,2016-07-01,14:40,BRONX,10453,40.857807,-73.904549,"(40.8578066, -73.9045493)",BUCHANAN PLACE,JEROME AVENUE,,...,Unspecified,NaN,NaN,NaN,3473671,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
540930,2016-07-01,14:40,MANHATTAN,10010,40.738171,-73.977602,"(40.738171, -73.9776019)",1 AVENUE,EAST 25 STREET,,...,Unspecified,NaN,NaN,NaN,3472643,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540931,2016-07-01,14:40,MANHATTAN,10029,40.788949,-73.940558,"(40.7889493, -73.9405585)",1 AVENUE,EAST 105 STREET,,...,Unspecified,NaN,NaN,NaN,3473474,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540932,2016-07-01,14:40,NaN,NaN,NaN,NaN,NaN,ASTORIA BOULEVARD,77 STREET,,...,Unspecified,NaN,NaN,NaN,3472593,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540933,2016-07-01,14:40,NaN,NaN,NaN,NaN,NaN,WOODHAVEN BOULEVARD,,,...,NaN,NaN,NaN,NaN,3473158,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
540934,2016-07-01,14:45,MANHATTAN,10019,40.759842,-73.984175,"(40.7598419, -73.9841751)",WEST 48 STREET,7 AVENUE,,...,Unspecified,NaN,NaN,NaN,3473418,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540935,2016-07-01,14:45,QUEENS,11412,40.688958,-73.762042,"(40.6889579, -73.7620421)",FARMERS BOULEVARD,118 ROAD,,...,Unspecified,NaN,NaN,NaN,3472880,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540936,2016-07-01,14:45,QUEENS,11419,40.693453,-73.813676,"(40.6934529, -73.8136764)",101 AVENUE,134 STREET,,...,Unspecified,NaN,NaN,NaN,3473160,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540937,2016-07-01,14:45,NaN,NaN,NaN,NaN,NaN,,,,...,Unspecified,NaN,NaN,NaN,3475568,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540938,2016-07-01,14:45,BROOKLYN,11238,40.680352,-73.964790,"(40.6803521, -73.9647898)",UNDERHILL AVENUE,PACIFIC STREET,,...,NaN,NaN,NaN,NaN,3473863,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
540939,2016-07-01,14:50,MANHATTAN,10001,40.753387,-73.996304,"(40.7533873, -73.996304)",WEST 34 STREET,9 AVENUE,,...,Unspecified,NaN,NaN,NaN,3472969,PASSENGER VEHICLE,SMALL COM VEH(4 TIRES),NaN,NaN,NaN
540940,2016-07-01,14:50,MANHATTAN,10036,40.754841,-73.984119,"(40.7548409, -73.9841185)",AVENUE OF THE AMERICAS,WEST 42 STREET,,...,Unspecified,NaN,NaN,NaN,3472996,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540941,2016-07-01,14:51,NaN,NaN,40.736523,-73.928329,"(40.7365231, -73.9283288)",,,,...,Unspecified,Unspecified,NaN,NaN,3472824,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
540942,2016-07-01,15:00,BROOKLYN,11238,40.673694,-73.967191,"(40.673694, -73.9671906)",UNDERHILL AVENUE,LINCOLN PLACE,,...,Unspecified,NaN,NaN,NaN,3473113,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540943,2016-07-01,15:00,MANHATTAN,10027,40.807772,-73.945483,"(40.8077723, -73.9454833)",LENOX AVENUE,WEST 125 STREET,,...,Unspecified,NaN,NaN,NaN,3473493,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540944,2016-07-01,15:00,NaN,NaN,40.724690,-73.772397,"(40.7246901, -73.7723973)",,,,...,Unspecified,NaN,NaN,NaN,3472505,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540945,2016-07-01,15:00,NaN,NaN,40.846469,-73.871223,"(40.8464687, -73.8712228)",,,,...,Unspecified,NaN,NaN,NaN,3472708,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
540946,2016-07-01,15:00,NaN,NaN,NaN,NaN,NaN,3 AVENUE,,,...,Unspecified,NaN,NaN,NaN,3473840,PASSENGER VEHICLE,MOTORCYCLE,NaN,NaN,NaN
541441,2016-07-01,9:57,BRONX,10454,40.810949,-73.927144,"(40.8109488, -73.9271438)",EAST 138 STREET,LINCOLN AVENUE,,...,Unspecified,NaN,NaN,NaN,3473546,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

In [39]:
accidents.columns

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

In [40]:
accidents.columns = map(str.lower, accidents.columns)
accidents.columns = accidents.columns.str.replace(' ', '-')

In [41]:
accidents.columns

Index(['date', 'time', 'borough', 'zip-code', 'latitude', 'longitude',
       'location', 'on-street-name', 'cross-street-name', 'off-street-name',
       'number-of-persons-injured', 'number-of-persons-killed',
       'number-of-pedestrians-injured', 'number-of-pedestrians-killed',
       'number-of-cyclist-injured', 'number-of-cyclist-killed',
       'number-of-motorist-injured', 'number-of-motorist-killed',
       'contributing-factor-vehicle-1', 'contributing-factor-vehicle-2',
       'contributing-factor-vehicle-3', 'contributing-factor-vehicle-4',
       'contributing-factor-vehicle-5', 'unique-key', 'vehicle-type-code-1',
       'vehicle-type-code-2', 'vehicle-type-code-3', 'vehicle-type-code-4',
       'vehicle-type-code-5'],
      dtype='object')

In [42]:
accidents.dropna(subset=['location'],inplace=True)

In [43]:
accidents.head()

,date,time,borough,zip-code,latitude,longitude,location,on-street-name,cross-street-name,off-street-name,...,contributing-factor-vehicle-2,contributing-factor-vehicle-3,contributing-factor-vehicle-4,contributing-factor-vehicle-5,unique-key,vehicle-type-code-1,vehicle-type-code-2,vehicle-type-code-3,vehicle-type-code-4,vehicle-type-code-5
5128,2018-06-23,18:10,NaN,NaN,40.660225,-73.99459,"(40.660225, -73.99459)",23 STREET,NaN,NaN,...,NaN,NaN,NaN,NaN,3927364,Sedan,NaN,NaN,NaN,NaN
5226,2018-06-07,12:00,NaN,NaN,40.762566,-73.81859,"(40.762566, -73.81859)",147 STREET,NaN,NaN,...,NaN,NaN,NaN,NaN,3916039,Sedan,NaN,NaN,NaN,NaN
43372,2018-08-31,0:00,BROOKLYN,11201,40.696033,-73.98453,"(40.696033, -73.98453)",FLATBUSH AVENUE EXTENSION,TILLARY STREET,NaN,...,Unspecified,NaN,NaN,NaN,3971585,Station Wagon/Sport Utility Vehicle,Flat Bed,NaN,NaN,NaN
43373,2018-08-31,0:00,MANHATTAN,10029,40.790905,-73.93914,"(40.790905, -73.93914)",EAST 108 STREET,1 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3973364,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
43374,2018-08-31,0:00,QUEENS,11356,40.784676,-73.83764,"(40.784676, -73.83764)",15 AVENUE,131 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3972060,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [44]:
accidents.to_csv("accidents_cleaned.csv")